In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create a more complex dataset
np.random.seed(42)
dates = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
products = ['A', 'B', 'C', 'D']
regions = ['North', 'South', 'East', 'West']

In [3]:
data = {
    'Date': np.repeat(dates, len(products) * len(regions)),
    'Product': np.tile(np.repeat(products, len(regions)), len(dates)),
    'Region': np.tile(regions, len(dates) * len(products)),
    'Sales': np.random.randint(100, 1000, size=len(dates) * len(products) * len(regions)),
    'Returns': np.random.randint(0, 50, size=len(dates) * len(products) * len(regions))
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print("Advanced Data Exploration and Wrangling:")

Advanced Data Exploration and Wrangling:

In [6]:
#  Rolling statistics
print("\n Calculating 7-day rolling average of sales:")
df['Date'] = pd.to_datetime(df['Date'])
df_sorted = df.sort_values('Date')
df_sorted['7_day_avg'] = df_sorted.groupby(['Product', 'Region'])['Sales'].transform(lambda x: x.rolling(7).mean())
print(df_sorted[['Date', 'Product', 'Region', 'Sales', '7_day_avg']].head(10))

 Calculating 7-day rolling average of sales:
         Date Product Region  Sales  7_day_avg
0  2023-01-01       A  North    202        NaN
15 2023-01-01       D   West    472        NaN
14 2023-01-01       D   East    187        NaN
13 2023-01-01       D  South    558        NaN
12 2023-01-01       D  North    430        NaN
10 2023-01-01       C   East    566        NaN
9  2023-01-01       C  South    221        NaN
8  2023-01-01       C  North    714        NaN
11 2023-01-01       C   West    314        NaN
6  2023-01-01       B   East    800        NaN

In [7]:
# Applying custom functions
print("\n Applying a custom function to calculate profit:")
def calculate_profit(row):
    return row['Sales'] - (row['Returns'] * 0.5 * row['Sales'] / (row['Sales'] + row['Returns']))

 Applying a custom function to calculate profit:

In [8]:
df['Profit'] = df.apply(calculate_profit, axis=1)
print(df[['Sales', 'Returns', 'Profit']].head())

   Sales  Returns      Profit
0    202       12  196.336449
1    535       10  530.091743
2    960       15  952.615385
3    370        7  366.564987
4    206       39  189.604082

In [9]:
# Advanced grouping and aggregation
print("\n Grouping by multiple columns with different aggregations:")
grouped = df.groupby(['Product', 'Region']).agg({
    'Sales': ['sum', 'mean', 'max'],
    'Returns': ['sum', 'mean'],
    'Profit': ['sum', 'mean']
})
print(grouped)

 Grouping by multiple columns with different aggregations:
                 Sales                  Returns                    Profit  \
                   sum        mean  max     sum       mean            sum
Product Region
A       East    194446  532.728767  998    8480  23.232877  190500.085162
        North   198646  544.235616  996    8280  22.684932  194799.664093
        South   209480  573.917808  998    8903  24.391781  205329.849624
        West    203030  556.246575  995    9247  25.334247  198749.493405
B       East    202677  555.279452  999    8928  24.460274  198531.320802
        North   199182  545.704110  999    8954  24.531507  195042.112827
        South   198315  543.328767  999    9240  25.315068  194047.130479
        West    197048  539.857534  999    8893  24.364384  192927.035830
C       East    208116  570.180822  999    9170  25.123288  203877.216371
        North   197224  540.339726  992    9051  24.797260  193047.237708
        South   199453  546.446575  998    8629  23.641096  195442.003828
        West    205051  561.783562  999    8893  24.364384  200929.309415
D       East    207237  567.772603  994    8893  24.364384  203122.381895
        North   197013  539.761644  999    8743  23.953425  192964.427505
        South   201264  551.408219  996    9177  25.142466  197019.295712
        West    207357  568.101370  998    8815  24.150685  203255.375326


                      mean
Product Region
A       East    521.918042
        North   533.697710
        South   562.547533
        West    544.519160
B       East    543.921427
        North   534.361953
        South   531.635974
        West    528.567221
C       East    558.567716
        North   528.896542
        South   535.457545
        West    550.491259
D       East    556.499676
        North   528.669664
        South   539.778892
        West    556.864042

In [10]:
#  Time series analysis
print("\n Extracting time components:")
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.dayofweek
print(df[['Date', 'Year', 'Month', 'DayOfWeek']].head())

 Extracting time components:
        Date  Year  Month  DayOfWeek
0 2023-01-01  2023      1          6
1 2023-01-01  2023      1          6
2 2023-01-01  2023      1          6
3 2023-01-01  2023      1          6
4 2023-01-01  2023      1          6

8. Data visualization (commented out as it can't be displayed in this environment)
plt.figure(figsize=(12, 6))
df.groupby('Product')['Sales'].sum().plot(kind='bar')
plt.title('Total Sales by Product')
plt.xlabel('Product')
plt.ylabel('Total Sales')
plt.show()

In [12]:
# Handling missing data (creating some missing values for demonstration)
df.loc[df['Sales'] > 900, 'Returns'] = np.nan
print("\n Handling missing data:")
print("Missing values:")
print(df.isnull().sum())
print("\nFilling missing values with median of each product:")
df['Returns'] = df.groupby('Product')['Returns'].transform(lambda x: x.fillna(x.median()))
print(df[df['Sales'] > 900][['Product', 'Sales', 'Returns']].head())

 Handling missing data:
Missing values:
Date           0
Product        0
Region         0
Sales          0
Returns      664
Profit         0
Year           0
Month          0
DayOfWeek      0
dtype: int64

Filling missing values with median of each product:
   Product  Sales  Returns
2        A    960     23.0
17       A    971     23.0
26       C    905     24.0
36       B    956     24.0
48       A    975     23.0

In [13]:
# Merging multiple dataframes
product_info = pd.DataFrame({
    'Product': products,
    'Category': ['Electronics', 'Clothing', 'Home', 'Sports']
})

In [14]:
region_info = pd.DataFrame({
    'Region': regions,
    'Manager': ['John', 'Emma', 'Michael', 'Sophia']
})

In [15]:
print("\n Merging multiple dataframes:")
df_merged = df.merge(product_info, on='Product').merge(region_info, on='Region')
print(df_merged.head())

 Merging multiple dataframes:
        Date Product Region  Sales  Returns      Profit  Year  Month  \
0 2023-01-01       A  North    202     12.0  196.336449  2023      1
1 2023-01-01       A  South    535     10.0  530.091743  2023      1
2 2023-01-01       A   East    960     23.0  952.615385  2023      1
3 2023-01-01       A   West    370      7.0  366.564987  2023      1
4 2023-01-01       B  North    206     39.0  189.604082  2023      1

   DayOfWeek     Category  Manager
0          6  Electronics     John
1          6  Electronics     Emma
2          6  Electronics  Michael
3          6  Electronics   Sophia
4          6     Clothing     John