In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a sample Series
s = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
print("Original Series:")
print(s)

Original Series:
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [3]:
# Basic statistical aggregations
print("\nBasic statistical aggregations:")
print("Sum:", s.sum())
print("Mean:", s.mean())
print("Median:", s.median())
print("Standard Deviation:", s.std())
print("Variance:", s.var())
print("Minimum:", s.min())
print("Maximum:", s.max())

Basic statistical aggregations:
Sum: 550
Mean: 55.0
Median: 55.0
Standard Deviation: 30.276503540974915
Variance: 916.6666666666666
Minimum: 10
Maximum: 100

In [4]:
# Count and unique values
print("\nCount and unique values:")
print("Count:", s.count())
print("Unique values:", s.nunique())
print("Value counts:\n", s.value_counts())

Count and unique values:
Count: 10
Unique values: 10
Value counts:
 10     1
20     1
30     1
40     1
50     1
60     1
70     1
80     1
90     1
100    1
Name: count, dtype: int64

In [5]:
# Descriptive statistics
print("\nDescriptive statistics:")
print(s.describe())

Descriptive statistics:
count     10.000000
mean      55.000000
std       30.276504
min       10.000000
25%       32.500000
50%       55.000000
75%       77.500000
max      100.000000
dtype: float64

In [6]:
# Cumulative aggregations
print("\nCumulative aggregations:")
print("Cumulative sum:\n", s.cumsum())
print("Cumulative maximum:\n", s.cummax())
print("Cumulative minimum:\n", s.cummin())

Cumulative aggregations:
Cumulative sum:
 0     10
1     30
2     60
3    100
4    150
5    210
6    280
7    360
8    450
9    550
dtype: int64
Cumulative maximum:
 0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
Cumulative minimum:
 0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [7]:
# Custom aggregation using agg()
print("\nCustom aggregation:")
custom_agg = s.agg(['sum', 'mean', lambda x: x.max() - x.min()])
print(custom_agg)

Custom aggregation:
sum         550.0
mean         55.0
<lambda>     90.0
dtype: float64

In [8]:
# Aggregation with grouping
s_grouped = pd.Series([1, 2, 3, 4, 5, 6], index=['A', 'A', 'B', 'B', 'C', 'C'])
print("\nGrouped Series:")
print(s_grouped)
print("\nGrouped sum:")
print(s_grouped.groupby(level=0).sum())

Grouped Series:
A    1
A    2
B    3
B    4
C    5
C    6
dtype: int64

Grouped sum:
A     3
B     7
C    11
dtype: int64

In [9]:
# Aggregation with conditions
print("\nConditional aggregation:")
print("Sum of values greater than 50:", s[s > 50].sum())

Conditional aggregation:
Sum of values greater than 50: 400

In [10]:
# Rolling window aggregation
print("\nRolling window aggregation (window size 3):")
print(s.rolling(window=3).mean())

Rolling window aggregation (window size 3):
0     NaN
1     NaN
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
9    90.0
dtype: float64

In [11]:
# Expanding window aggregation
print("\nExpanding window aggregation:")
print(s.expanding().mean())

Expanding window aggregation:
0    10.0
1    15.0
2    20.0
3    25.0
4    30.0
5    35.0
6    40.0
7    45.0
8    50.0
9    55.0
dtype: float64

In [12]:
# Aggregation with NaN handling
s_with_nan = pd.Series([1, 2, np.nan, 4, 5])
print("\nSeries with NaN:")
print(s_with_nan)
print("Sum (including NaN):", s_with_nan.sum())
print("Sum (excluding NaN):", s_with_nan.sum(skipna=True))

Series with NaN:
0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64
Sum (including NaN): 12.0
Sum (excluding NaN): 12.0