In [1]:
import pandas as pd
import numpy as np

In [5]:
# Create a sample Series
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Original Series:")
print(s)

Original Series:
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
# 1. Updating a single value by label
s['c'] = 10
print("\n1. After updating 'c':")
print(s)

1. After updating 'c':
a     1
b     2
c    10
d     4
e     5
dtype: int64

In [9]:
# 2. Updating a single value by position
s.iloc[1] = 20
print("\n2. After updating position 1:")
print(s)

2. After updating position 1:
a     1
b    20
c    10
d     4
e     5
dtype: int64

In [11]:
# 3. Updating multiple values
s[['a', 'e']] = [100, 500]
print("\n3. After updating 'a' and 'e':")
print(s)

3. After updating 'a' and 'e':
a    100
b     20
c     10
d      4
e    500
dtype: int64

In [13]:
# 4. Updating using a condition
s[s > 50] = 50
print("\n4. After capping values at 50:")
print(s)

4. After capping values at 50:
a    50
b    20
c    10
d     4
e    50
dtype: int64

In [19]:
# 5. Applying a function to update values
s = s.apply(lambda x: x/2)
print("\n5. After doubling  all values:")
print(s)

5. After doubling  all values:
a    5000.0
b     800.0
c     200.0
d      32.0
e    5000.0
dtype: float64

In [21]:
# 6. Adding a new element
s['f'] = 600
print("\n6. After adding a new element 'f':")
print(s)

6. After adding a new element 'f':
a    5000.0
b     800.0
c     200.0
d      32.0
e    5000.0
f     600.0
dtype: float64

In [23]:
# 7. Updating using arithmetic operations
s += 5
print("\n7. After adding 5 to all elements:")
print(s)

7. After adding 5 to all elements:
a    5005.0
b     805.0
c     205.0
d      37.0
e    5005.0
f     605.0
dtype: float64

In [25]:
# 8. Updating using numpy functions
s = pd.Series(np.sqrt(s))
print("\n8. After applying square root to all elements:")
print(s)

8. After applying square root to all elements:
a    70.746025
b    28.372522
c    14.317821
d     6.082763
e    70.746025
f    24.596748
dtype: float64

In [27]:
# 9. Updating specific elements with loc
s.loc['b':'d'] = [25, 35, 45]
print("\n9. After updating 'b', 'c', and 'd':")
print(s)

9. After updating 'b', 'c', and 'd':
a    70.746025
b    25.000000
c    35.000000
d    45.000000
e    70.746025
f    24.596748
dtype: float64

In [29]:
# 10. Using replace method
s = s.replace({s['a']: 1000})
print("\n10. After replacing the value of 'a':")
print(s)

10. After replacing the value of 'a':
a    1000.000000
b      25.000000
c      35.000000
d      45.000000
e    1000.000000
f      24.596748
dtype: float64

In [31]:
# 11. Updating using mask
mask = s > 10
s[mask] = s[mask] - 10
print("\n11. After subtracting 10 from values greater than 10:")
print(s)

11. After subtracting 10 from values greater than 10:
a    990.000000
b     15.000000
c     25.000000
d     35.000000
e    990.000000
f     14.596748
dtype: float64